<form action="/articles" method="post">
  Article Title: <input type="text" name="title"><br>
  Article Content:<br>
  <textarea name="content" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Submit">
</form>
